*,
body,
html {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.nav-items {
  font-size: 18px;
  margin: 0px 20px;
}

.nav-items > ul {
  display: flex;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 20px;
}

.logo-container {
  margin: 15px;
  margin-left: 25px;
}

.logo {
  width: 100px;
  border-radius: 10px;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.res-card {
  background-color: #f0f0f0;
  width: 220px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-card-img {
  width: 100%;
}

.res-filter {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.res-filter > button {
  padding: 5px;
  cursor: pointer;
}

.shimmer-container {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
  margin: 20px;
}
